body{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}
/* header */
header[role="banner"] #logo-main {
  display: block;
  margin-top: 20px;
}
.responsive-header{
  width: 100%;
  max-width: 1472px;
  height: auto;
}
#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
  padding-left: 40px;
  padding-right: 40px;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
  color: black;
  text-decoration: none;
  position: relative;
}
#navbar-primary.navbar-default .navbar-nav > li > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #A4D5E9;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#navbar-primary.navbar-default .navbar-nav > li > a:hover:before{
  visibility: visible;
 -webkit-transform: scaleX(1);
 transform: scaleX(1);
}
.navbar-header{
  text-align: center;
}
.navbar-toggle{
  float: none;
}
/* banner */
.responsive-banner{
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: auto;
}
/* work */
.title{
  padding-top: 50px;
  text-align: center;
}
.title > a{
  font-size: 23px;
  color: black;
  text-decoration: none;
  border-bottom: 4px solid #A4D5E9;
  border-top: 4px solid #A4D5E9;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
/* work hashtag */
.portfolio-menu{
  padding-top: 40px;
  text-align: center;
}
.portfolio-menu > ul > li{
  display: inline-block;
  margin: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}
.portfolio-menu > ul > li > a{
  color: black;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
ol, ul{
  padding-left: 0px !important;
}
#all{
  position: relative;
  display: inline-block;
}
#all.hover::before, #all.clicked::before{
  content: "";
  border-bottom: 4px solid #FFE8BF;
  width: 100%;
  position: absolute;
  right: 0;
  top: 45%;
}
#game{
  position: relative;
  display: inline-block;
}
#game.hover::before, #game.clicked::before{
  content: "";
  border-bottom: 4px solid #FFE8BF;
  width: 100%;
  position: absolute;
  right: 0;
  top: 45%;
}
#installation{
  position: relative;
  display: inline-block;
}
#installation.hover::before, #installation.clicked::before{
  content: "";
  border-bottom: 4px solid #FFE8BF;
  width: 100%;
  position: absolute;
  right: 0;
  top: 45%;
}
#photography{
  position: relative;
  display: inline-block;
}
#photography.hover::before, #photography.clicked::before{
  content: "";
  border-bottom: 4px solid #FFE8BF;
  width: 100%;
  position: absolute;
  right: 0;
  top: 45%;
}
#wearable{
  position: relative;
  display: inline-block;
}
#wearable.hover::before, #wearable.clicked::before{
  content: "";
  border-bottom: 4px solid #FFE8BF;
  width: 100%;
  position: absolute;
  right: 0;
  top: 45%;
}
/* work grid */
.portfolio-item{
  max-width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
.portfolio-item:after {
  content: '';
  display: block;
  clear: both;
}
.portfolio-item .item{
  float: left;
  width: 200px;
  height: 200px;
  margin: 30px;
}
.overlayContainer {
  position: relative;
  width: 100%;
}
.overlay{
  position: absolute;
  top: 66%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 34%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #A4D5E9;
}
.overlayContainer:hover .overlay{
  opacity: 1;
}
.name{
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
}
.date{
  font-size: 13px;
  text-align: center;
}
/* work modal */
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  background-color: white;
  margin: auto;
  padding: 30px 40px 40px 40px;
  width: 85%;
}
.closeBtn{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
.closeBtn > a{
  color: black;
}
.closeBtn > a:hover, .closeBtn > a:focus{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .title{
  padding-top: 20px;
}










/* start pt to be hamburger */
@media screen and (max-width:768px) {
  .navbar-default .navbar-toggle{
    border-color: #FFF !important;
    margin-right: 7px !important;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #FFF !important;
  }
  .navbar-nav{
    margin: 0px !important;
  }
}
/* start pt of menu word collapse */
@media screen and (max-width:551px) {
  #navbar-primary.navbar-default .navbar-nav > li{
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* laptop */
@media screen and (max-width:1024px) {
  .portfolio-item{
    max-width: 100%;
    margin-left: 100px;
    margin-right: 60px;
  }
}
/* mobileL */
@media screen and (max-width:425px) {
  .navbar{
    margin-bottom: 10px !important;
  }
  .responsive-banner{
    padding-left: 25px;
    padding-right: 25px;
  }
  .portfolio-item{
    max-width: 100%;
    margin-left: 65px;
    margin-right: 40px;
  }
}
/* mobileM */
@media screen and (max-width:375px) {
  .portfolio-item{
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }
}
/* mobileS */
@media screen and (max-width:320px) {
  .portfolio-item{
    max-width: 100%;
    margin-left: 15px;
    margin-right: 40px;
  }
}
